/* .input-search{
    border-color: var(--cor-button) !important;
} */

.form-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.container-materials{
    display: flex;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.form-search-new-material{
    background-color: var(--cor-button) !important;
    color: #fff !important;
    font-weight: 600;
    border: 2px solid transparent;
    padding: .25rem;
    width: 6rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .5s !important;
}

.form-search-new-material:hover{
    text-decoration: none !important;
    background-color: #0e1316 !important;
    color: #fff !important;
    border-color: var(--cor-button);
}

.form-search-container-input{
    display: flex;
    gap: 1rem;
}

.container-spinner{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}