.card-material{
    border: 2px solid var(--cor-button);
    width: 15rem;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.card-material:hover{
    box-shadow: var(--cor-button) 0px 5px 5px;
}

.card-material h3{
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.card-material-info{
    color: rgba(255, 255, 255, 0.596);
    font-size: .85rem;
}

.card-material h3, .card-material-info{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}