.application-header{
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-family: var(--fonte-titulo);
  font-weight: 500;
}

.application-header-navbar{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.application-header-navbar-link:hover{
  text-decoration: none !important;
  color: var(--cor-button);
}