.container{
    display: flex;
    align-items: start;
    padding: 3rem;
    gap: 3rem;
}

.container-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-info h1 {
    font-size: 2rem;
}

.btn-alugar{
    background-color: var(--cor-button) !important;
    color: #fff;
    font-weight: 600;
    padding: .25rem;
    width: 7rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    transition: .25s;
}

.btn-alugar:hover{
    text-decoration: none !important;
    background-color: #0e1316 !important;
    color: #fff !important;
    border-color: var(--cor-button);
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-aluguel, .form-devolucao{
    margin-left: 3rem;
}

.container-buttons{
    display: flex;
    gap: .5rem;
}