@keyframes spin {
    to {
        transform: rotate(0deg);
    } 
    from {
        transform: rotate(-360deg);
    }
}

.spinner{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 5px solid #fff;
    border-bottom-color: transparent;

    animation: spin 1s ease-out infinite;
}