#root {
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  min-height: 100vh;
}

.main{
  padding-bottom: 5vh;
}



h1{
  font-family: var(--fonte-titulo);
  font-weight: 600;
  font-size: 1.5rem;
}

.apresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.apresentation p {
  margin-top: 1.5rem;
}

.apresentation-title{ 
    font-size: 3rem;
    max-width: 35rem;
    text-align: center;
}

.apresentation-title span{
  color: var(--cor-button);
}

.apresentation-options{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.apresentation-options .apresentation-options-link{
  background-color: var(--cor-button) !important;
  color: #fff;
  font-weight: 600;
  padding: .25rem;
  width: 6rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  transition: .5s;
}

.apresentation-options .apresentation-options-link:hover{
  text-decoration: none;
  background-color: #0e1316 !important;
  color: #fff;
  border-color: var(--cor-button);
}

.application-footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, var(--cor-button) 0%, #8D4CF9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}